<template>
  <div class="about">
    <fd-container>
      <div v-fd-padding:large style="text-align:center;">
        <div v-fd-type:2>Sources</div>
        <hr />
        <a href="https://gitlab.com/ehni/coding-playground"
          >gitlab.com/ehni/coding-playground</a
        >
      </div>
    </fd-container>
  </div>
</template>

<script>
export default {
  name: "About"
};
</script>
